*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
.alpha_top{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.9),rgba(4, 9, 30, 0.4)),url(https://i.ibb.co/Cnn8Mg5/home1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  padding: 2% 6%;;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 200px;
}
.alpha_nav{
  flex: 1;
  text-align: right;

}
.alpha_nav ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.alpha_nav ul li a{
  font-size: 1.5rem;
  color: #ffff;
  text-decoration: none;
}

.alpha_nav ul li a:hover{
color: black;
background-color: lightblue;
transition: 0.8s;
}
.alpha_text {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.alpha_text h1{
  font-size: 40px;
}

.alpha_text p{
  margin: 10px 0px 40px;
  font-size: 15px;

}
.alpha_button{
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 2px solid #ffff;
  padding:12px 34px;
  width: 19%;
  font-size: 22px;
}

.alpha_button:hover{
  color: black;
  background: powderblue;
  transition: 0.9s;
  font-weight: bold;
}

nav .fa{
  display: none;
}



.footer {
   position:static;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: pink;
   color: black;
   text-align: center;
   float: center;
   color: black;
}

.footer a{
  color: black;
}
.services{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.services_col p{
  padding-left: 21px;
  text-align: justify;
  width: 85%;
}
.services h1{
font-size: 35px;
font-weight: bolder;
}

@media (max-width:700px) {
  .alpha_text h1{
    font-size: 20px;
  }
  .alpha_text {
    top: 65%;
  }
  .alpha_button{
    padding:2px 4px;
    width: 25%;
    font-size: 12px;
  }

  .alpha_nav ul li{
    display: block;
  }
  .alpha_nav ul li a{
    color: black;
  }
  .alpha_nav{
    position: absolute;
    background: powderblue;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa{
    display: block;
    color: black;
    margin: 12px;
    font-size: 25px;
  }

@media (max-width:700px) {
  .row{
    display:block;
  }
}

}
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
.alpha_top{
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  padding: 2% 6%;;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 200px;
}
.alpha_nav{
  flex: 1;
  text-align: right;

}
.alpha_nav ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.alpha_nav ul li a{
  font-size: 1.5rem;
  color: #ffff;
  text-decoration: none;
}

.alpha_nav ul li a:hover{
color: black;
background-color: lightblue;
transition: 0.8s;
}
.alpha_text {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.alpha_text h1{
  font-size: 40px;
}

.alpha_text p{
  margin: 10px 0px 40px;
  font-size: 15px;

}



nav .fa{
  display: none;
}


.services{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.services_col p{
  padding-left: 21px;
  text-align: justify;
  width: 85%;
}
.services h1{
font-size: 35px;
font-weight: bolder;
}



body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;

  line-height: 30px;
  color: #777;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  padding: 1em;
  background-color: #ffffe6;
}



#thumbnail {
  max-width: 90%;
  height: auto;
}

#description,
form {
  padding: 2em;
  font-weight: bold;
}

form {
  margin-top: -3em;
}

form label {
  margin-right: 1em;
}

form input {
  padding: 1em;
  width: 20em;
}

#number {
  margin-left: -0.5em;
  width: 4em;
}




#dropdown {
  height: 3.3em;
}

input::placeholder {
  font-size: 120%;
}

.mainInfo {
  padding: 1em;
  float: left;
}



input[type="image"] {
  width: 5em;
  vertical-align: middle;
}

.clear {
  clear: both;
}

#main p {
  margin-top: 1em;
}

.shipping input {
  margin-right: -18em;
}

.shipping label {
  margin-left: -2em;
}

.shipping {
  padding: 0.5em;
}

.container {
  margin: 1em;
}

.options {
  padding: 1.2em;
}

.options input {
  vertical-align: middle;
  width: 1em;
}

.options label {
  margin-right: 0;
}

button {
  background-color: #003d66; /* blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  float: left;
}
.footer {
   position:static;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: pink;
   color: black;
   text-align: center;
   float: center;
   color: black;
}
div#blos {
    margin-top: 40px;
}
.footer a{
  color: black;
}
