*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
.alpha_top{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.9),rgba(4, 9, 30, 0.4)),url(https://i.ibb.co/Cnn8Mg5/home1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  padding: 2% 6%;;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 200px;
}
.alpha_nav{
  flex: 1;
  text-align: right;

}
.alpha_nav ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.alpha_nav ul li a{
  font-size: 1.5rem;
  color: #ffff;
  text-decoration: none;
}

.alpha_nav ul li a:hover{
color: black;
background-color: lightblue;
transition: 0.8s;
}
.alpha_text {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.alpha_text h1{
  font-size: 40px;
}

.alpha_text p{
  margin: 10px 0px 40px;
  font-size: 15px;

}
.alpha_button{
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 2px solid #ffff;
  padding:12px 34px;
  width: 19%;
  font-size: 22px;
}

.alpha_button:hover{
  color: black;
  background: powderblue;
  transition: 0.9s;
  font-weight: bold;
}

nav .fa{
  display: none;
}



.footer {
   position:static;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: pink;
   color: black;
   text-align: center;
   float: center;
   color: black;
}

.footer a{
  color: black;
}
.services{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.services_col p{
  padding-left: 21px;
  text-align: justify;
  width: 85%;
}
.services h1{
font-size: 35px;
font-weight: bolder;
}

@media (max-width:700px) {
  .alpha_text h1{
    font-size: 20px;
  }
  .alpha_text {
    top: 65%;
  }
  .alpha_button{
    padding:2px 4px;
    width: 25%;
    font-size: 12px;
  }

  .alpha_nav ul li{
    display: block;
  }
  .alpha_nav ul li a{
    color: black;
  }
  .alpha_nav{
    position: absolute;
    background: powderblue;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa{
    display: block;
    color: black;
    margin: 12px;
    font-size: 25px;
  }

@media (max-width:700px) {
  .row{
    display:block;
  }
}

}
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
.alpha_top{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.9),rgba(4, 9, 30, 0.4)),url(pictures/home1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  padding: 2% 6%;;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 200px;
}
.alpha_nav{
  flex: 1;
  text-align: right;

}
.alpha_nav ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.alpha_nav ul li a{
  font-size: 1.5rem;
  color: #ffff;
  text-decoration: none;
}

.alpha_nav ul li a:hover{
color: black;
background-color: lightblue;
transition: 0.8s;
}
.alpha_text {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.alpha_text h1{
  font-size: 40px;
}

.alpha_text p{
  margin: 10px 0px 40px;
  font-size: 15px;

}
.alpha_button{
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 2px solid #ffff;
  padding:12px 34px;
  width: 19%;
  font-size: 22px;
}

.alpha_button:hover{
  color: black;
  background: powderblue;
  transition: 0.9s;
  font-weight: bold;
}

nav .fa{
  display: none;
}


.services{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.services_col p{
  padding-left: 21px;
  text-align: justify;
  width: 85%;
}
.services h1{
font-size: 35px;
font-weight: bolder;
}



body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;

  line-height: 30px;
  color: #777;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}


#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}



#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

.footer {
   position:static;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: pink;
   color: black;
   text-align: center;
   float: center;
   color: black;
}

.footer a{
  color: black;
}
