*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
.alpha_top{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.9),rgba(4, 9, 30, 0.4)),url(https://i.ibb.co/Cnn8Mg5/home1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  padding: 2% 6%;;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 200px;
}
.alpha_nav{
  flex: 1;
  text-align: right;

}
.alpha_nav ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.alpha_nav ul li a{
  font-size: 1.5rem;
  color: #ffff;
  text-decoration: none;
}

.alpha_nav ul li a:hover{
color: black;
background-color: lightblue;
transition: 0.8s;
}
.alpha_text {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.alpha_text h1{
  font-size: 40px;
}

.alpha_text p{
  margin: 10px 0px 40px;
  font-size: 15px;

}
.alpha_button{
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 2px solid #ffff;
  padding:12px 34px;
  width: 19%;
  font-size: 22px;
}

.alpha_button:hover{
  color: black;
  background: powderblue;
  transition: 0.9s;
  font-weight: bold;
}

nav .fa{
  display: none;
}







.alpha__beta{
  width: 60%;
  text-align: center;
  padding-top: 100px;
  margin: auto;
  background-image: url(home1.jpg);
}
.alpha__beta h1{
font-size: 35px;
font-weight: bolder;
background: powderblue;

}
.alpha__beta h2{
font-size: 25px;
font-weight: bolder;
padding-top: 20px;
background: powderblue;
}
.alpha__beta p{
font-size: 20px;
padding-top:2px;
background: powderblue;
}





.team{
  padding-top: 50px;
  text-align: center;
}
.team h1{
font-size: 35px;
font-weight: bolder;
}
.team-col img{
  width: 40%;
}
.row{
  display: flex;
  justify-content: space-between;
}

.team-col{
  flex-basis:31%;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}

.footer {
   position:static;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: pink;
   color: black;
   text-align: center;
   float: center;
   color: black;
}

.footer a{
  color: black;
}





.services{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.services_col p{
  padding-left: 21px;
  text-align: justify;
  width: 85%;
}
.services h1{
font-size: 35px;
font-weight: bolder;
}



@media (max-width:700px) {
  .alpha_text h1{
    font-size: 20px;
  }
  .alpha_text {
    top: 65%;
  }
  .alpha_button{
    padding:2px 4px;
    width: 25%;
    font-size: 12px;
  }

  .alpha_nav ul li{
    display: block;
  }
  .alpha_nav ul li a{
    color: black;
  }
  .alpha_nav{
    position: absolute;
    background: powderblue;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa{
    display: block;
    color: black;
    margin: 12px;
    font-size: 25px;
  }

@media (max-width:700px) {
  .row{
    display:block;
  }
}


}


html,
body {
  height: 100%;
  background-color: powderblue;

}

body {
  background-color: powderblue;

  justify-content: center;
  padding-bottom: 40px;
}
.navbar-brand img{
  height: 80px;
  width: 100%;
  padding-left: 30px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
